body {
    padding: 7rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd
}

thead {
    background: #333;
    color: white
}

th, td{
    text-align: left;
    padding: 16px;
}

tr:nth-child(even){
    background: #f2f2f2;
}

.resizer{
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: #27bbff;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
}

*:hover .resizer{
    opacity: 1;
}

.resizer.isResizing{
    background: #2eff31;
    opacity: 1;
}